<a href="https://colab.research.google.com/github/sreeharitheja-37/cprogram/blob/main/sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#loop
animals={"avinash","ravi","balaji","harish","zayn"}
for x in animals:
 print(x)

harish
balaji
avinash
zayn
ravi

In [4]:
animals={"avinash","ravi","balaji","harish","zayn"}
print("avinash" in animals)

True

In [7]:
#add
animals={"avinash","ravi","balaji","harish","zayn"}
animals.add("karthik")
print(animals)
humans={"surya","srihari","satvik"}
animals.update(humans)
print(animals)
num=[1,2,3,4]
animals.update(num)
print(animals)

{'harish', 'karthik', 'balaji', 'avinash', 'zayn', 'ravi'}
{'harish', 'karthik', 'srihari', 'balaji', 'avinash', 'zayn', 'surya', 'ravi', 'satvik'}
{1, 2, 3, 4, 'harish', 'karthik', 'srihari', 'balaji', 'avinash', 'zayn', 'surya', 'ravi', 'satvik'}

In [9]:
#pop
#as sets are unordered pop will remove randomly
animals={"avinash","ravi","balaji","harish","zayn"}
animals.pop()
print(animals)

{'balaji', 'avinash', 'zayn', 'ravi'}

In [12]:
#clear empties the set
#del deletes the set comletely
fruits = {"apple", "banana", "cherry"}
fruits.clear()
print(fruits)
del fruits
print(fruits)

set()

NameError: ignored

In [13]:
#union
#union() method that returns a new set containing all items from both sets
#update() method that inserts all the items from one set into another
animals={"avinash","ravi","balaji","harish","zayn"}
humans={"surya","srihari","satvik"}
set3=animals.union(humans)
print(set3)

{'harish', 'zayn', 'surya', 'srihari', 'ravi', 'balaji', 'satvik', 'avinash'}

In [17]:
#intersection,intersectiob_update
#intersection() method will return a new set, that only contains the items that are present in both sets.
animals={"avinash","ravi","balaji"}
humans={"surya","srihari","satvik","ravi"}
animals.intersection_update(humans)
print(animals)
set3=animals.intersection(humans)
print(set3)

{'ravi'}
{'ravi'}

In [18]:
#symmetric_difference_update,symmetric_difference
#symmetric_difference_update() method will keep only the elements that are NOT present in both sets.
#symmetric_difference() method will return a new set, that contains only the elements that are NOT present in both sets.
animals={"avinash","ravi","balaji"}
humans={"surya","srihari","satvik","ravi"}
animals.symmetric_difference_update(humans)
print(animals)
set3=animals.symmetric_difference(humans)
print(set3)

{'srihari', 'balaji', 'avinash', 'surya', 'satvik'}
{'balaji', 'avinash', 'ravi'}

In [26]:
dict={ "name":str(input("enter name")),
        "age":int(input("enter age")),
        "cgpa":float(input("enter cgpa"))        
}
print(dict)
print(dict["cgpa"])
new cgpa={"new cgpa":float(input("new"))}
dict.update(new cgpa)

SyntaxError: ignored