<a href="https://colab.research.google.com/github/sreeharitheja-37/cprogram/blob/main/tuples_and_sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
tuple=("a","b","c")
print(tuple)
print(len(tuple))
print(type(tuple))

('a', 'b', 'c')
3
<class 'tuple'>

In [9]:
alph=("a","b","c","d","e")
print(alph[1])
print(alph[-2])
print([alph[2:4]])
print([alph[-4:-1]])

b
d
[('c', 'd')]
[('b', 'c', 'd')]

In [12]:
alph=("a","b","c","d","e")
if "a" in alph:
  print("a is in the alph")
if "r" not in alph:
 print("r not in alph")

a is in the alph
r not in alph

In [25]:
x=("apple", "banana", "cherry")
y=list(x)
y[1]="kiwi"
x=tuple(y)
print(x)

TypeError: ignored

In [26]:
alph=("a","b","c","d","e")
y=list(alph)
y.append("f")
y.remove("a")
alph=tuple(y)
print(alph)

TypeError: ignored

In [33]:
#doesnt allow duplicate values
set={"apple", "banana", "cherry","banana"}
print(set)
set.add("mango")
print(set)
set.remove("apple")
print(set)

{'apple', 'cherry', 'banana'}
{'mango', 'apple', 'cherry', 'banana'}
{'mango', 'cherry', 'banana'}